<!DOCTYPE html>
<html>
<head>
    <title>AI Movie Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ai.css') }}">
</head>
<body>

<div class="container">

    <h1>🤖 CineVerse AI Assistant</h1>

    <form method="POST">

        <input
            type="text"
            name="prompt"
            placeholder="Ask about movies...">

        <button type="submit">
            Ask AI
        </button>

    </form>

    {% if answer %}
    <div class="answer-box">
        <h3>AI Response</h3>
        <p>{{ answer }}</p>
    </div>
    {% endif %}

</div>

</body>
</html>